name: build_image

on:
  push:
    branches:
      - drafts

jobs:
  spellcheck:
    # https://github.com/matheus23/md-spellcheck-action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: matheus23/md-spellcheck-action@v4.2.2
        with:
          files-to-check: "content/*.md"
          files-to-exclude: "LICENSE.md" # optional
          words-to-ignore-file: ./words-to-ignore.txt

